body{
    background: url("img5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.main{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    background: linear-gradient(rgb(1, 20, 113),rgb(234, 177, 32),rgb(16, 16, 16));
    border-radius: 5% 5% 10% 5%;
}
h4{
    text-align: center;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
    color:rgb(227, 173, 36);
    text-shadow: 5px 5px 5px rgb(6, 6, 6);
}
h1{
    margin-bottom: 80px;
    color: white;
    text-shadow: 5px 5px 5px rgb(143, 125, 7);
}

img:hover{
    opacity: 1;
}
